<ion-view view-title="Setup">
    <div class="bar bar-header bar-positive">
        <a href="#/main"><button class="button button-icon icon ion-ios-home"></button></a>
        <h1 class="title">My Key Management</h1>
    </div>
    <ion-content class="has-header padding topper">
        <div class="text-center padding">
            <h3>Enter password.</h3>
        </div>

        <div class="text-center">
            <label class="item item-input">
                <span class="input-label" >Password</span>
                <input type="text" ng-model="password" autocapitalize="off">
            </label>
            <button class="button button-block button-positive" ng-click="passCheck(password); password='';">Submit</button>
        </div>

  </ion-content>
  <div class="bar bar-footer bar-positive">

  </div>
</ion-view>
